<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>)</title>
</head>

<body>

    <div>
        <img style="margin: 0 auto; width:250px; height:150px;" src="https://cozymltd-bucket.s3.amazonaws.com/staticfiles/images/cozym_ltd.png ">
    </div>
    <div>
        <h1>Hi, {{Rname}}</h1>
        <p style="font-size:30px;">{{Sname}} just created a <strong>Purcharse Order,</strong> and it needs your Approval.</p>
        <p style="font-size:20px;">Click <a href="https://cozymltd.com/">here</a> to see the Purchase order created.</p>
    </div>

</body>

</html>