<div class="col-md-2 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <a class="btn btn-info btn-lg btn-block" href="{% url 'stock:loc_list' %}">Locations</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'stock:cat_list' %}">Categories</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'stock:list_item' %}">List Items</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'stock:add_items' %}">Add Items</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'stock:list_history' %}">Stock Log</a>
            </div>
        </div>
    </div>

</div>